/* H2V+ Design System */
:root {
  /* Light */
  /* color */
  --estado-active-bg: var(--primitivos-color-green-100, #c4facc);
  --estado-active-border: var(--primitivos-color-green-700, #00731e);
  --estado-active-text: var(--primitivos-color-green-900, #003a0d);
  --estado-default-bg: var(--primitivos-color-neutral-0, #ffffff);
  --estado-default-border: var(--primitivos-color-neutral-300, #d5d1d1);
  --estado-default-text: var(--primitivos-color-navy-900, #0b1a2e);
  --estado-disabled-bg: var(--primitivos-color-neutral-100, #f5f3f3);
  --estado-disabled-border: var(--primitivos-color-neutral-200, #eae8e8);
  --estado-disabled-text: var(--primitivos-color-neutral-400, #b8b3b3);
  --estado-focus-border: var(--primitivos-color-green-700, #00731e);
  --estado-focus-ring: var(--primitivos-color-green-700, #00731e);
  --estado-focus-ring-offset: var(--primitivos-color-neutral-0, #ffffff);
  --estado-hover-bg: var(--primitivos-color-green-50, #e5fde8);
  --estado-hover-border: var(--primitivos-color-green-700, #00731e);
  --estado-hover-text: var(--primitivos-color-green-800, #005715);
  --primitivos-color-error-100: #fee2e2;
  --primitivos-color-error-200: #fecaca;
  --primitivos-color-error-300: #fca5a5;
  --primitivos-color-error-400: #f87171;
  --primitivos-color-error-50: #fef2f2;
  --primitivos-color-error-500: #ef4444;
  --primitivos-color-error-600: #dc2626;
  --primitivos-color-error-700: #b91c1c;
  --primitivos-color-error-800: #991b1b;
  --primitivos-color-error-900: #7f1d1d;
  --primitivos-color-error-950: #450a0a;
  --primitivos-color-green-0: #f2fff4;
  --primitivos-color-green-100: #c4facc;
  --primitivos-color-green-1000: #000d03;
  --primitivos-color-green-200: #91f78e;
  --primitivos-color-green-300: #63e86e;
  --primitivos-color-green-400: #3fcf52;
  --primitivos-color-green-50: #e5fde8;
  --primitivos-color-green-500: #22ad38;
  --primitivos-color-green-600: #148c27;
  --primitivos-color-green-700: #00731e;
  --primitivos-color-green-800: #005715;
  --primitivos-color-green-900: #003a0d;
  --primitivos-color-green-950: #001f07;
  --primitivos-color-lime-0: #f8ffe0;
  --primitivos-color-lime-100: #e2f99e;
  --primitivos-color-lime-1000: #060a02;
  --primitivos-color-lime-200: #ceee6c;
  --primitivos-color-lime-300: #b8e048;
  --primitivos-color-lime-400: #96be36;
  --primitivos-color-lime-50: #f0fdca;
  --primitivos-color-lime-500: #7a9c28;
  --primitivos-color-lime-600: #549b35;
  --primitivos-color-lime-700: #3d6e1e;
  --primitivos-color-lime-800: #284913;
  --primitivos-color-lime-900: #18290b;
  --primitivos-color-lime-950: #0c1605;
  --primitivos-color-navy-0: #eef1fa;
  --primitivos-color-navy-100: #b3bfe4;
  --primitivos-color-navy-1000: #020509;
  --primitivos-color-navy-200: #8b9cd0;
  --primitivos-color-navy-300: #667cb8;
  --primitivos-color-navy-400: #475d9c;
  --primitivos-color-navy-50: #d9e0f2;
  --primitivos-color-navy-500: #2f4280;
  --primitivos-color-navy-600: #222f5b;
  --primitivos-color-navy-700: #15234f;
  --primitivos-color-navy-800: #0a1945;
  --primitivos-color-navy-900: #0b1a2e;
  --primitivos-color-navy-950: #060d1a;
  --primitivos-color-neutral-0: #ffffff;
  --primitivos-color-neutral-100: #f5f3f3;
  --primitivos-color-neutral-1000: #080606;
  --primitivos-color-neutral-200: #eae8e8;
  --primitivos-color-neutral-25: #fdfcfc;
  --primitivos-color-neutral-300: #d5d1d1;
  --primitivos-color-neutral-400: #b8b3b3;
  --primitivos-color-neutral-50: #faf9f9;
  --primitivos-color-neutral-500: #958f8f;
  --primitivos-color-neutral-600: #706a6a;
  --primitivos-color-neutral-700: #4f4a4a;
  --primitivos-color-neutral-800: #333030;
  --primitivos-color-neutral-900: #1e1b1b;
  --primitivos-color-neutral-950: #120f0f;
  --primitivos-color-success-100: #dcfce7;
  --primitivos-color-success-200: #bbf7d0;
  --primitivos-color-success-300: #86efac;
  --primitivos-color-success-400: #4ade80;
  --primitivos-color-success-50: #f0fdf4;
  --primitivos-color-success-500: #22c55e;
  --primitivos-color-success-600: #16a34a;
  --primitivos-color-success-700: #15803d;
  --primitivos-color-success-800: #166534;
  --primitivos-color-success-900: #14532d;
  --primitivos-color-success-950: #052e16;
  --primitivos-color-teal-0: #f0fffe;
  --primitivos-color-teal-100: #c4f9f3;
  --primitivos-color-teal-1000: #000d0b;
  --primitivos-color-teal-200: #92f5e8;
  --primitivos-color-teal-300: #77f6e6;
  --primitivos-color-teal-400: #3fd9cb;
  --primitivos-color-teal-50: #e3fdfb;
  --primitivos-color-teal-500: #1bbdb0;
  --primitivos-color-teal-600: #10968a;
  --primitivos-color-teal-700: #0a7068;
  --primitivos-color-teal-800: #075048;
  --primitivos-color-teal-900: #03302b;
  --primitivos-color-teal-950: #011917;
  --primitivos-color-warning-100: #fef3c7;
  --primitivos-color-warning-200: #fde68a;
  --primitivos-color-warning-300: #fcd34d;
  --primitivos-color-warning-400: #fbbf24;
  --primitivos-color-warning-50: #fffbeb;
  --primitivos-color-warning-500: #f59e0b;
  --primitivos-color-warning-600: #d97706;
  --primitivos-color-warning-700: #b45309;
  --primitivos-color-warning-800: #92400e;
  --primitivos-color-warning-900: #78350f;
  --primitivos-color-warning-950: #451a03;
  --semantico-border-accent: var(--primitivos-color-teal-700, #0a7068);
  --semantico-border-accent-on-inverse: var(--primitivos-color-teal-300, #77f6e6);
  --semantico-border-brand: var(--primitivos-color-green-700, #00731e);
  --semantico-border-default: var(--primitivos-color-neutral-300, #d5d1d1);
  --semantico-border-focus: var(--primitivos-color-green-700, #00731e);
  --semantico-border-inverse: var(--primitivos-color-neutral-0, #ffffff);
  --semantico-border-status-error: var(--primitivos-color-error-500, #ef4444);
  --semantico-border-status-success: var(--primitivos-color-success-500, #22c55e);
  --semantico-border-strong: var(--primitivos-color-neutral-500, #958f8f);
  --semantico-border-subtle: var(--primitivos-color-neutral-200, #eae8e8);
  --semantico-interactive-ghost-bg-hover: var(--primitivos-color-green-50, #e5fde8);
  --semantico-interactive-ghost-text: var(--primitivos-color-navy-700, #15234f);
  --semantico-interactive-primary-bg: var(--primitivos-color-green-700, #00731e);
  --semantico-interactive-primary-bg-active: var(--primitivos-color-green-900, #003a0d);
  --semantico-interactive-primary-bg-hover: var(--primitivos-color-green-800, #005715);
  --semantico-interactive-primary-text: var(--primitivos-color-neutral-0, #ffffff);
  --semantico-interactive-secondary-bg: var(--primitivos-color-neutral-0, #ffffff);
  --semantico-interactive-secondary-bg-hover: var(--primitivos-color-green-50, #e5fde8);
  --semantico-interactive-secondary-border: var(--primitivos-color-green-700, #00731e);
  --semantico-interactive-secondary-text: var(--primitivos-color-green-700, #00731e);
  --semantico-marca-brand-green-end: #abc936;
  --semantico-marca-brand-green-start: #348b35;
  --semantico-marca-brand-navy: #222f5b;
  --semantico-marca-brand-ocean: #23515f;
  --semantico-surface-accent: var(--primitivos-color-teal-400, #3fd9cb);
  --semantico-surface-accent-subtle: var(--primitivos-color-teal-50, #e3fdfb);
  --semantico-surface-bg-body-default: var(--semantico-surface-secondary, #faf9f9);
  --semantico-surface-bg-home: var(--semantico-surface-primary, #ffffff);
  --semantico-surface-brand: var(--primitivos-color-green-700, #00731e);
  --semantico-surface-brand-subtle: var(--primitivos-color-green-50, #e5fde8);
  --semantico-surface-inverse: var(--primitivos-color-navy-900, #0b1a2e);
  --semantico-surface-primary: var(--primitivos-color-neutral-0, #ffffff);
  --semantico-surface-secondary: var(--primitivos-color-neutral-50, #faf9f9);
  --semantico-surface-status-error: var(--primitivos-color-error-50, #fef2f2);
  --semantico-surface-status-success: var(--primitivos-color-success-50, #f0fdf4);
  --semantico-surface-status-warning: var(--primitivos-color-warning-50, #fffbeb);
  --semantico-surface-tertiary: var(--primitivos-color-neutral-100, #f5f3f3);
  --semantico-text-accent: var(--primitivos-color-teal-700, #0a7068);
  --semantico-text-accent-on-inverse: var(--primitivos-color-teal-300, #77f6e6);
  --semantico-text-brand: var(--primitivos-color-green-700, #00731e);
  --semantico-text-disabled: var(--primitivos-color-neutral-300, #d5d1d1);
  --semantico-text-inverse: var(--primitivos-color-neutral-0, #ffffff);
  --semantico-text-inverse-gray: var(--primitivos-color-neutral-200, #eae8e8);
  --semantico-text-link: var(--primitivos-color-navy-600, #222f5b);
  --semantico-text-link-hover: var(--primitivos-color-green-700, #00731e);
  --semantico-text-placeholder: var(--primitivos-color-neutral-400, #b8b3b3);
  --semantico-text-primary: var(--primitivos-color-navy-900, #0b1a2e);
  --semantico-text-secondary: var(--primitivos-color-navy-700, #15234f);
  --semantico-text-status-error: var(--primitivos-color-error-600, #dc2626);
  --semantico-text-status-success: var(--primitivos-color-success-700, #15803d);
  --semantico-text-status-warning: var(--primitivos-color-warning-700, #b45309);
  --semantico-text-tertiary: var(--primitivos-color-neutral-600, #706a6a);
  /* number */
  --primitivos-elevacion-z-base: 0rem;
  --primitivos-elevacion-z-dropdown: 6.25rem;
  --primitivos-elevacion-z-sticky: 12.5rem;
  --primitivos-elevacion-z-overlay: 18.75rem;
  --primitivos-elevacion-z-modal: 25rem;
  --primitivos-elevacion-z-toast: 31.25rem;
  --primitivos-elevacion-z-tooltip: 37.5rem;
  --primitivos-geometria-radius-none: 0rem;
  --primitivos-geometria-radius-xs: 0.125rem;
  --primitivos-geometria-radius-sm: 0.25rem;
  --primitivos-geometria-radius-md: 0.5rem;
  --primitivos-geometria-radius-lg: 0.75rem;
  --primitivos-geometria-radius-xl: 1rem;
  --primitivos-geometria-radius-2xl: 1.5rem;
  --primitivos-geometria-radius-3xl: 2rem;
  --primitivos-geometria-radius-full: 624.9375rem;
  --primitivos-opacidad-0: 0rem;
  --primitivos-opacidad-5: 0.3125rem;
  --primitivos-opacidad-10: 0.625rem;
  --primitivos-opacidad-20: 1.25rem;
  --primitivos-opacidad-25: 1.5625rem;
  --primitivos-opacidad-30: 1.875rem;
  --primitivos-opacidad-40: 2.5rem;
  --primitivos-opacidad-50: 3.125rem;
  --primitivos-opacidad-60: 3.75rem;
  --primitivos-opacidad-70: 4.375rem;
  --primitivos-opacidad-75: 4.6875rem;
  --primitivos-opacidad-80: 5rem;
  --primitivos-opacidad-90: 5.625rem;
  --primitivos-opacidad-95: 5.9375rem;
  --primitivos-opacidad-100: 6.25rem;
  --primitivos-spacing-0: 0rem;
  --primitivos-spacing-1: 0.25rem;
  --primitivos-spacing-2: 0.5rem;
  --primitivos-spacing-3: 0.75rem;
  --primitivos-spacing-4: 1rem;
  --primitivos-spacing-5: 1.25rem;
  --primitivos-spacing-6: 1.5rem;
  --primitivos-spacing-8: 2rem;
  --primitivos-spacing-10: 2.5rem;
  --primitivos-spacing-12: 3rem;
  --primitivos-spacing-16: 4rem;
  --primitivos-spacing-20: 5rem;
  --primitivos-spacing-24: 6rem;
  --primitivos-spacing-32: 8rem;
  --primitivos-spacing-40: 10rem;
  --primitivos-spacing-48: 12rem;
  --primitivos-spacing-64: 16rem;
  --primitivos-tipografia-font-size-2xs: 0.625rem;
  --primitivos-tipografia-font-size-xs: 0.8125rem;
  --primitivos-tipografia-font-size-sm: 0.875rem;
  --primitivos-tipografia-font-size-base: 1rem;
  --primitivos-tipografia-font-size-md: 1.25rem;
  --primitivos-tipografia-font-size-lg: 1.5625rem;
  --primitivos-tipografia-font-size-xl: 1.9375rem;
  --primitivos-tipografia-font-size-2xl: 2.4375rem;
  --primitivos-tipografia-font-size-3xl: 3.0625rem;
  --primitivos-tipografia-font-size-4xl: 3.8125rem;
  --primitivos-tipografia-font-size-5xl: 4.75rem;
  --primitivos-tipografia-font-weight-light: 18.75rem;
  --primitivos-tipografia-font-weight-regular: 25rem;
  --primitivos-tipografia-font-weight-medium: 31.25rem;
  --primitivos-tipografia-font-weight-semibold: 37.5rem;
  --primitivos-tipografia-font-weight-bold: 43.75rem;
  --primitivos-tipografia-font-weight-extrabold: 50rem;
  --primitivos-tipografia-letter-spacing-tight: -0.0012rem;
  --primitivos-tipografia-letter-spacing-normal: 0rem;
  --primitivos-tipografia-letter-spacing-wide: 0.0016rem;
  --primitivos-tipografia-letter-spacing-wider: 0.0031rem;
  --primitivos-tipografia-letter-spacing-widest: 0.0063rem;
  --primitivos-tipografia-line-height-tight: 0.0688rem;
  --primitivos-tipografia-line-height-snug: 0.0781rem;
  --primitivos-tipografia-line-height-normal: 0.0938rem;
  --primitivos-tipografia-line-height-relaxed: 0.1016rem;
  --primitivos-tipografia-line-height-loose: 0.125rem;
  --utilidades-animacion-duration-instant: 0rem;
  --utilidades-animacion-duration-fast: 6.25rem;
  --utilidades-animacion-duration-normal: 12.5rem;
  --utilidades-animacion-duration-slow: 18.75rem;
  --utilidades-animacion-duration-slower: 31.25rem;
  --utilidades-animacion-duration-slowest: 43.75rem;
  --utilidades-breakpoints-mobile: 23.4375rem;
  --utilidades-breakpoints-mobile-lg: 30rem;
  --utilidades-breakpoints-tablet: 48rem;
  --utilidades-breakpoints-desktop: 64rem;
  --utilidades-breakpoints-desktop-lg: 80rem;
  --utilidades-breakpoints-wide: 90rem;
  --utilidades-breakpoints-ultrawide: 120rem;
  /* string */
  --primitivos-tipografia-font-family-primary: Inter;
  --utilidades-animacion-easing-accelerate: cubic-bezier(0.4, 0.0, 1, 1);
  --utilidades-animacion-easing-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
  --utilidades-animacion-easing-linear: linear;
  --utilidades-animacion-easing-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
  --utilidades-animacion-easing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
}