/* H2V+ Design System */
:root {
  /* Light */
  /* color */
  --core-color-a-0: #f2fff4;
  --core-color-a-100: #c4facc;
  --core-color-a-1000: #000d03;
  --core-color-a-200: #91f78e;
  --core-color-a-300: #63e86e;
  --core-color-a-400: #3fcf52;
  --core-color-a-50: #e5fde8;
  --core-color-a-500: #22ad38;
  --core-color-a-600: #148c27;
  --core-color-a-700: #00731e;
  --core-color-a-800: #005715;
  --core-color-a-900: #003a0d;
  --core-color-a-950: #001f07;
  --core-color-b-0: #f8ffe0;
  --core-color-b-100: #e2f99e;
  --core-color-b-1000: #060a02;
  --core-color-b-200: #ceee6c;
  --core-color-b-300: #b8e048;
  --core-color-b-400: #96be36;
  --core-color-b-50: #f0fdca;
  --core-color-b-500: #7a9c28;
  --core-color-b-600: #549b35;
  --core-color-b-700: #3d6e1e;
  --core-color-b-800: #284913;
  --core-color-b-900: #18290b;
  --core-color-b-950: #0c1605;
  --core-color-c-0: #f0fffe;
  --core-color-c-100: #c4f9f3;
  --core-color-c-1000: #000d0b;
  --core-color-c-200: #92f5e8;
  --core-color-c-300: #77f6e6;
  --core-color-c-400: #3fd9cb;
  --core-color-c-50: #e3fdfb;
  --core-color-c-500: #1bbdb0;
  --core-color-c-600: #10968a;
  --core-color-c-700: #0a7068;
  --core-color-c-800: #075048;
  --core-color-c-900: #03302b;
  --core-color-c-950: #011917;
  --core-color-d-0: #eef1fa;
  --core-color-d-100: #b3bfe4;
  --core-color-d-1000: #020509;
  --core-color-d-200: #8b9cd0;
  --core-color-d-300: #667cb8;
  --core-color-d-400: #475d9c;
  --core-color-d-50: #d9e0f2;
  --core-color-d-500: #2f4280;
  --core-color-d-600: #222f5b;
  --core-color-d-700: #15234f;
  --core-color-d-800: #0a1945;
  --core-color-d-900: #0b1a2e;
  --core-color-d-950: #060d1a;
  --core-color-error-100: #fee2e2;
  --core-color-error-200: #fecaca;
  --core-color-error-300: #fca5a5;
  --core-color-error-400: #f87171;
  --core-color-error-50: #fef2f2;
  --core-color-error-500: #ef4444;
  --core-color-error-600: #dc2626;
  --core-color-error-700: #b91c1c;
  --core-color-error-800: #991b1b;
  --core-color-error-900: #7f1d1d;
  --core-color-error-950: #450a0a;
  --core-color-neutral-0: #ffffff;
  --core-color-neutral-100: #f5f3f3;
  --core-color-neutral-1000: #080606;
  --core-color-neutral-200: #eae8e8;
  --core-color-neutral-25: #fdfcfc;
  --core-color-neutral-300: #d5d1d1;
  --core-color-neutral-400: #b8b3b3;
  --core-color-neutral-50: #faf9f9;
  --core-color-neutral-500: #958f8f;
  --core-color-neutral-600: #706a6a;
  --core-color-neutral-700: #4f4a4a;
  --core-color-neutral-800: #333030;
  --core-color-neutral-900: #1e1b1b;
  --core-color-neutral-950: #120f0f;
  --core-color-success-100: #dcfce7;
  --core-color-success-200: #bbf7d0;
  --core-color-success-300: #86efac;
  --core-color-success-400: #4ade80;
  --core-color-success-50: #f0fdf4;
  --core-color-success-500: #22c55e;
  --core-color-success-600: #16a34a;
  --core-color-success-700: #15803d;
  --core-color-success-800: #166534;
  --core-color-success-900: #14532d;
  --core-color-success-950: #052e16;
  --core-color-warning-100: #fef3c7;
  --core-color-warning-200: #fde68a;
  --core-color-warning-300: #fcd34d;
  --core-color-warning-400: #fbbf24;
  --core-color-warning-50: #fffbeb;
  --core-color-warning-500: #f59e0b;
  --core-color-warning-600: #d97706;
  --core-color-warning-700: #b45309;
  --core-color-warning-800: #92400e;
  --core-color-warning-900: #78350f;
  --core-color-warning-950: #451a03;
  --semantic-border-accent: var(--core-color-c-700);
  --semantic-border-accent-on-inverse: var(--core-color-c-300);
  --semantic-border-brand: var(--core-color-a-700);
  --semantic-border-default: var(--core-color-neutral-300);
  --semantic-border-focus: var(--core-color-a-700);
  --semantic-border-inverse: var(--core-color-neutral-0);
  --semantic-border-status-error: var(--core-color-error-500);
  --semantic-border-status-success: var(--core-color-success-500);
  --semantic-border-strong: var(--core-color-neutral-500);
  --semantic-border-subtle: var(--core-color-neutral-200);
  --semantic-brand-primary: var(--core-color-d-600);
  --semantic-brand-secondary: var(--core-color-a-600);
  --semantic-brand-secondary-end: var(--core-color-b-400);
  --semantic-brand-secondary-start: var(--core-color-a-600);
  --semantic-brand-tertiary: var(--core-color-c-800);
  --semantic-interactive-ghost-bg-hover: var(--core-color-a-50);
  --semantic-interactive-ghost-text: var(--core-color-d-700);
  --semantic-interactive-primary-bg: var(--core-color-a-700);
  --semantic-interactive-primary-bg-active: var(--core-color-a-900);
  --semantic-interactive-primary-bg-hover: var(--core-color-a-800);
  --semantic-interactive-primary-text: var(--core-color-neutral-0);
  --semantic-interactive-secondary-bg: var(--core-color-neutral-0);
  --semantic-interactive-secondary-bg-hover: var(--core-color-a-50);
  --semantic-interactive-secondary-border: var(--core-color-a-700);
  --semantic-interactive-secondary-text: var(--core-color-a-700);
  --semantic-surface-accent: var(--core-color-c-400);
  --semantic-surface-accent-subtle: var(--core-color-c-50);
  --semantic-surface-bg-body-default: var(--semantic-surface-secondary);
  --semantic-surface-bg-home: var(--semantic-surface-primary);
  --semantic-surface-brand: var(--core-color-a-700);
  --semantic-surface-brand-subtle: var(--core-color-a-50);
  --semantic-surface-inverse: var(--core-color-d-900);
  --semantic-surface-primary: var(--core-color-neutral-0);
  --semantic-surface-secondary: var(--core-color-neutral-50);
  --semantic-surface-status-error: var(--core-color-error-50);
  --semantic-surface-status-success: var(--core-color-success-50);
  --semantic-surface-status-warning: var(--core-color-warning-50);
  --semantic-surface-tertiary: var(--core-color-neutral-100);
  --semantic-text-accent: var(--core-color-c-700);
  --semantic-text-accent-on-inverse: var(--core-color-c-300);
  --semantic-text-brand: var(--core-color-a-700);
  --semantic-text-disabled: var(--core-color-neutral-300);
  --semantic-text-inverse: var(--core-color-neutral-0);
  --semantic-text-inverse-gray: var(--core-color-neutral-200);
  --semantic-text-link: var(--core-color-d-600);
  --semantic-text-link-hover: var(--core-color-a-700);
  --semantic-text-placeholder: var(--core-color-neutral-400);
  --semantic-text-primary: var(--core-color-d-900);
  --semantic-text-secondary: var(--core-color-d-700);
  --semantic-text-status-error: var(--core-color-error-600);
  --semantic-text-status-success: var(--core-color-success-700);
  --semantic-text-status-warning: var(--core-color-warning-700);
  --semantic-text-tertiary: var(--core-color-neutral-600);
  --state-active-bg: var(--core-color-a-100);
  --state-active-border: var(--core-color-a-700);
  --state-active-text: var(--core-color-a-900);
  --state-default-bg: var(--core-color-neutral-0);
  --state-default-border: var(--core-color-neutral-300);
  --state-default-text: var(--core-color-d-900);
  --state-disabled-bg: var(--core-color-neutral-100);
  --state-disabled-border: var(--core-color-neutral-200);
  --state-disabled-text: var(--core-color-neutral-400);
  --state-focus-border: var(--core-color-a-700);
  --state-focus-ring: var(--core-color-a-700);
  --state-focus-ring-offset: var(--core-color-neutral-0);
  --state-hover-bg: var(--core-color-a-50);
  --state-hover-border: var(--core-color-a-700);
  --state-hover-text: var(--core-color-a-800);
  /* number */
  --core-animation-duration-instant: 0;
  --core-animation-duration-fast: 100;
  --core-animation-duration-normal: 200;
  --core-animation-duration-slow: 300;
  --core-animation-duration-slower: 500;
  --core-animation-duration-slowest: 700;
  --core-breakpoints-mobile: 375px;
  --core-breakpoints-mobile-lg: 480px;
  --core-breakpoints-tablet: 768px;
  --core-breakpoints-desktop: 1024px;
  --core-breakpoints-desktop-lg: 1280px;
  --core-breakpoints-wide: 1440px;
  --core-breakpoints-ultrawide: 1920px;
  --core-elevation-z-base: 0;
  --core-elevation-z-dropdown: 100;
  --core-elevation-z-sticky: 200;
  --core-elevation-z-overlay: 300;
  --core-elevation-z-modal: 400;
  --core-elevation-z-toast: 500;
  --core-elevation-z-tooltip: 600;
  --core-opacity-0: 0;
  --core-opacity-5: 5;
  --core-opacity-10: 10;
  --core-opacity-20: 20;
  --core-opacity-25: 25;
  --core-opacity-30: 30;
  --core-opacity-40: 40;
  --core-opacity-50: 50;
  --core-opacity-60: 60;
  --core-opacity-70: 70;
  --core-opacity-75: 75;
  --core-opacity-80: 80;
  --core-opacity-90: 90;
  --core-opacity-95: 95;
  --core-opacity-100: 100;
  --core-radius-none: 0px;
  --core-radius-xs: 2px;
  --core-radius-sm: 4px;
  --core-radius-md: 8px;
  --core-radius-lg: 12px;
  --core-radius-xl: 16px;
  --core-radius-2xl: 24px;
  --core-radius-3xl: 32px;
  --core-radius-full: 9999px;
  --core-spacing-0: 0px;
  --core-spacing-1: 4px;
  --core-spacing-2: 8px;
  --core-spacing-3: 12px;
  --core-spacing-4: 16px;
  --core-spacing-5: 20px;
  --core-spacing-6: 24px;
  --core-spacing-8: 32px;
  --core-spacing-10: 40px;
  --core-spacing-12: 48px;
  --core-spacing-16: 64px;
  --core-spacing-20: 80px;
  --core-spacing-24: 96px;
  --core-spacing-32: 128px;
  --core-spacing-40: 160px;
  --core-spacing-48: 192px;
  --core-spacing-64: 256px;
  --core-typography-font-size-2xs: 10px;
  --core-typography-font-size-xs: 13px;
  --core-typography-font-size-sm: 14px;
  --core-typography-font-size-base: 16px;
  --core-typography-font-size-md: 20px;
  --core-typography-font-size-lg: 25px;
  --core-typography-font-size-xl: 31px;
  --core-typography-font-size-2xl: 39px;
  --core-typography-font-size-3xl: 49px;
  --core-typography-font-size-4xl: 61px;
  --core-typography-font-size-5xl: 76px;
  --core-typography-font-weight-light: 300;
  --core-typography-font-weight-regular: 400;
  --core-typography-font-weight-medium: 500;
  --core-typography-font-weight-semibold: 600;
  --core-typography-font-weight-bold: 700;
  --core-typography-font-weight-extrabold: 800;
  --core-typography-letter-spacing-tight: -0.019999999552965164;
  --core-typography-letter-spacing-normal: 0;
  --core-typography-letter-spacing-wide: 0.02500000037252903;
  --core-typography-letter-spacing-wider: 0.05000000074505806;
  --core-typography-letter-spacing-widest: 0.10000000149011612;
  --core-typography-line-height-tight: 1.100000023841858;
  --core-typography-line-height-snug: 1.25;
  --core-typography-line-height-normal: 1.5;
  --core-typography-line-height-relaxed: 1.625;
  --core-typography-line-height-loose: 2;
  /* string */
  --core-animation-easing-accelerate: cubic-bezier(0.4, 0.0, 1, 1);
  --core-animation-easing-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
  --core-animation-easing-linear: linear;
  --core-animation-easing-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
  --core-animation-easing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
  --core-data-name-a: green;
  --core-data-name-b: navy;
  --core-data-name-c: lime;
  --core-data-name-d: teal;
  --core-typography-font-family-number: Inter;
  --core-typography-font-family-primary: Inter;
  --core-typography-font-family-secondary: Inter;
}